/* FORM STYLE */

input[type="text"], input[type="email"]{
    height: 45px;
    outline: none;
    border: none;
    background: #ccc2c2;
}

textarea {
    outline: none !important;
    border: none !important;
    background-color: #ccc2c2 !important;
}



/* BUTTON HOVER */

.btn:hover {
    opacity: .9;
    border: 2px solid var(--btn-bg);
    background: transparent;   
    color: #000000;
}

 /* FOOTER */

 span a {
    padding: 15px;
    background: #222;
    color: #ffffff;
    border-radius: 50%;
}
