body {
    font-family: 'EB Garamond', serif;
}

/* NOTIFICATION */
.container-fluid {
    background-color: #000000;
    
}

.img-wrapper {
    position: relative;

}

.img-wrapper-left img, .img-wrapper-right img {
    max-width: 100%;
}

.img-wrapper-left span {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -30;
    right: 75%; 
    z-index: -1;
    background: #C9A96A;
    max-width: 100%;
   

}


.img-wrapper-right span {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -30;
    left: 85%; 
    z-index: -1;
    background: #C9A96A;
}

 /* FOOTER */

 span a {
    padding: 15px;
    background: #222;
    color: #ffffff;
    border-radius: 50%;
}

span a:hover {
    color: #ffffff;
 }


 /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 360px) {  
    .copyright-text {
        padding: 10px 0 15px 0 !important;
    }
    .img-wrapper-left span {
        width: 180px !important;
        right: 45% !important; 
    }
    .img-wrapper-right span {
        width: 180px !important;
        left: 42% !important; 
    }
    .icons span {
        padding-right: 8px;
    }
     
  }
  
@media (max-width: 768px) {  
    .img-wrapper-left span {
        right: 50%;     
    
    }

    .img-wrapper-right span {
        left: 50%; 
    }
    
  }
  
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
  }
   
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   
  }
  
  