  body {
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     font-family: 'EB Garamond', serif;
     overflow-x: hidden;
   
     
 }
 
 /* GLOBAL VARIABLE */
 :root {

    /* BUTTONS */
    --btn-bg: #C9A96A;
    --btn-width: 130px;
    --btn-height: 39px;
    --btn-fontSize: 16px;
    --btn-color: #ffffff;
 }

 /* GLOBAL STYLES */

 .btn {
    background: var(--btn-bg);
    color: #ffffff;
    font-size: 16px;
    width: var(--btn-width);
    height: var(--btn-height);
}

.btn:hover {
    opacity: .9;
    border: 2px solid var(--btn-bg);
    background: transparent;   
    color: var(--btn-color);
}

/* HEADER STYLES */
 
.col {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

 .bg__Image {
     background: url("../assets/Mask\ Group\(3\).png") no-repeat center center fixed;
     background-color: #222;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 100vh;
 } 


 /* ABOUT US STYLES */

 h5 {
    color: #939393;
    font-size: 25px;
 }

 h1 {
    font-size: 52px;
    line-height: 68px;
 }

 h1 p {
    font-size: 25px;
    line-height: 40px;
 }

 .dot-Holder {
     position: relative;
 }
 
 .img-dot {
     position: absolute;
     left: 0;
     bottom: 0;
 }

 .img-cover {
    width: 499px;
    height: 602px;
    max-width: 100%;

 }

 .img-wrapper {
     position: relative;
 }

 .img-wrapper  span{
     position: absolute;
     width: 200px;
     height: 200px;
     bottom: -30;
     left: 50%; 
     z-index: -1;
     background: #C9A96A;
 }

 svg {
    max-width: 100%;
}
 span {
     font-size: 13px;
 }


 /* GALLERY STYLES */

 .row .img-right {
     padding-left: 220px;

 }

 .row .img-left, .img-center {
    padding-left: 170px;
 }

 /* NOTIFICATION STYLE */
 .footer-container {
     background-color: #000000;
     
 }

 form .input {
     background: #222;
     outline: none;
     border: none;
     height: 45px;
 }

 form .btn {
    height: 45px;
 }

 /* FOOTER */

 span a {
     padding: 15px;
     background: #222;
     color: #ffffff;
     border-radius: 50%;
 }

 span a:hover {
    color: #ffffff;
 }




/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 360px) {  
    .card-columns {column-count: 1;}
    .copyright-text {
        padding: 10px 0 10px 0 !important;
     
    }    
    .text-size span {
        font-size: 9px;
    }
    .img-wrapper  span {
        width: 185px !important;
        left: 40% !important; 
    }
    .gallery-text {
        font-size: 15px;
    }
    .text {
        font-size: 15px;
        margin: 15px 0 15px 0 !important;
    }
    .icons span {
        padding-right: 8px;
    }
  }
 
@media (max-width: 768px) {  
    .card-columns {column-count: 1;}
    .img-dot { display: none;}
    .img-wrapper span {  
        width: 200px;
        left: 50%; 
    }
    .btn-email {
        width: 100px;
        height: 35px !important;
        margin-top: 10px !important;
    }
    
    .copyright-text {
        padding: 15px 0 20px 0 !important;
    }

  }
  
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
   .card-columns {column-count: 1;}
   .hidden-link {
    display: none;
    }
  }
   
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
     .card-columns {column-count: 2;} 
  }
  
  